<div class="waste-card" *ngIf="rubbish">
  <div class="picto">
    <img
      *ngIf="rubbish.type.pictogram"
      [src]="'data:image/svg+xml;base64,' + rubbish.type.pictogram"
    />
  </div>
  <div
    class="waste-detail"
    [ngStyle]="{ 'background-color': isBinClose ? '#178B68' : '' }"
  >
    <div class="details">
      <h3>{{ rubbish.type.name }}</h3>
      <p>Poubelle : Verre</p>
      <p class="rphm">
        Points : {{ rubbish.type.points }}
        <span><img src="assets/png/etoile.png" alt="" /> </span>
      </p>
    </div>
    <div class="near" *ngIf="!isThrow && !isBinClose" (click)="navToMap()">
      <p>poubelle la plus proche</p>
      <img src="assets/svg/green-arrow.svg" alt="" />
    </div>
    <div class="validated" *ngIf="isThrow">
      <img src="assets/svg/validation.svg" alt="validé" />
    </div>
    <div class="near" *ngIf="isBinClose" (click)="throwWaste(rubbish)">
      <p>Jeter le déchet</p>
      <img src="assets/svg/bleck-staged-arrow.svg" alt="" [width]="19" />
    </div>
  </div>
</div>
