<div class="waste-card" *ngIf="binType">
  <div class="picto">
    <img
      *ngIf="binType.type.pictogram"
      [src]="'data:image/svg+xml;base64,' + binType.type.pictogram"
    />
  </div>
  <div class="waste-detail">
    <div class="details">
      <h3>{{ binType.type.name }}</h3>
      <p>Poubelle : Verre</p>
      <p>
        Points : {{ binType.type.points }}
        <span><img src="assets/png/etoile.png" alt="" /> </span>
      </p>
    </div>
    <div class="near" *ngIf="!isThrow">
      <p>poubelle la plus proche</p>
      <img (click)="navToMap()" src="assets/svg/green-arrow.svg" alt="" />
    </div>
    <div class="validated" *ngIf="isThrow">
      <img src="assets/svg/validation.svg" alt="validé" />
    </div>
  </div>

  <div>
    <button *ngIf="isBinClose" (click)="throwWaste()">Jeter le déchet</button>
  </div>
</div>
