<div class="waste-card" *ngIf="binType">
  <div class="picto">
    <!-- <img [src]="'assets/' + (binType.type.name | binType)" alt="" /> -->
  </div>
  <div class="waste-detail">
    <div class="details">
      <!-- <h3>{{ binType.type.name }}</h3> -->
      <p>Poubelle : Verre</p>
      <p>
        <!-- Points : {{ binType.points }} -->
        <span><img src="assets/png/etoile.png" alt="" /> </span>
      </p>
    </div>
    <div class="near">
      <p>poubelle la plus proche</p>
      <img src="assets/svg/green-arrow.svg" alt="" />
    </div>
  </div>
</div>
