<div class="glossaire" *ngIf="glossary">
  <div *ngFor="let rubbish of glossary" class="rubbish-points">
    <app-point-card [rubbishDetail]="rubbish"></app-point-card>
  </div>
  <div class="yo">
    <a [routerLink]="['/']"
      ><p class="tuto">Comment ça marche ? Voir le tuto !</p></a
    >
  </div>
  <div class="new-card">
    <p>Des compagnies pourront recycler des déchets spécifiques</p>
    <app-point-card class="yoo" [rubbishDetail]="newCard"></app-point-card>
  </div>
</div>
