@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

.register-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .register {
    display: flex;
    justify-content: center;
    padding-bottom: 5px;

    p {
      color: rgb(125, 123, 123);
    }

    span {
      font-weight: bold;
      color: black;
      text-decoration: underline;
    }
  }
}

.logo-eco {
  height: 200px;
  display: flex;
  margin-bottom: 10px;
  img {
    width: 300px;
    height: auto;
    display: flex;
    margin: 0 auto;
  }
}

.bandeau {
  background-color: var(--accentuation-color);
  width: 200px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom-right-radius: 20px;

  h3 {
    color: white;
    text-align: center;
  }
}

form {
  margin: 20px;
  display: flex;
  flex-direction: column;

  .first-lastName {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    input {
      width: 155px;
    }
  }

  fieldset {
    display: flex;
    flex-direction: column;
    margin: 10px 10px;
    border: none;

    label {
      padding-bottom: 10px;
      font-weight: bold;
    }

    input {
      height: 50px;
      border-radius: 5px;
      padding: 0px 10px;
      border: 1px solid black;
    }
  }

  p {
    font-size: 15px;
    text-align: end;
    text-decoration: underline;
    font-style: italic;
    padding-top: 5px;
  }

  .button-container {
    display: flex;
    justify-content: center;
    padding-top: 40px;
  }

  button {
    width: 300px;
    height: 60px;
    align-self: center;
    color: white;
    background-color: var(--accentuation-color);
    border: none;
    font-family: "Lato", sans-serif;
    font-weight: bold;
    font-size: 18px;
  }
}

::ng-deep .p-message-wrapper {
  height: 40px;
  display: flex;
  padding: 5px;
  gap: 10px;
  align-content: center;
}

::ng-deep .p-icon {
  margin-top: 5px;
}

::ng-deep .p-messages .p-component .ng-tns-c108017210-3 {
  margin-top: 20px;
}

::ng-deep .p-dropdown {
  width: 100px;
  height: 50px;
  padding: 5px;

  .p-element {
    display: flex;
    align-items: center;
    justify-content: center;

    .p-dropdown-clear-icon {
      display: none;
    }
  }

  img {
    height: 40px;
  }
}
