<div class="header">
  <div *ngIf="isOpen" class="blur"></div>
  <div class="header-container">
    <div class="menu-trigger">
      <img
        (click)="sendIsOpenToParent()"
        class="gg-push-chevron-right-o"
        [src]="imagePath"
        alt=""
      />
    </div>

    <input type="search " />

    <a [routerLink]="['/map']">
      <svg
      width="30"
      height="30"
      viewBox="0 0 30 30"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
      >
      <path
        d="M15.625 9.80185C15.4218 9.76775 15.213 9.75 15 9.75C12.9289 9.75 11.25 11.4289 11.25 13.5C11.25 15.5711 12.9289 17.25 15 17.25C17.0711 17.25 18.75 15.5711 18.75 13.5C18.75 13.2871 18.7322 13.0782 18.6981 12.875"
        stroke="white"
        stroke-width="1.5"
        stroke-linecap="round"
      />
      <path
        d="M6.25 20.0201C5.44068 17.9527 5 15.7516 5 13.6791C5 8.05735 9.47715 3.5 15 3.5C20.5229 3.5 25 8.05735 25 13.6791C25 19.2569 21.8084 25.7655 16.8286 28.093C15.6679 28.6356 14.3321 28.6356 13.1714 28.093C11.5809 27.3496 10.1729 26.1799 8.99297 24.75"
        stroke="white"
        stroke-width="1.5"
        stroke-linecap="round"
      />
    </svg>
  </a>
  </div>

  <div class="side-menu" *ngIf="isOpen" [@sideMenu]>
    <div class="menu-close" (click)="sendIsOpenToParent()">
      <p>MY PROFILE</p>
      <img class="gg-push-chevron-left-o" [src]="imagePath" alt="" />
    </div>
    <div class="profil-section">
      <div class="photo"></div>
      <div class="identity">
        <p>name</p>
        <p>emailmail.com</p>
        <p>Your <span>point</span></p>
      </div>
    </div>
    <div class="white">
      <div class="menu-item" *ngFor="let item of navigation; let i = index">
        <div class="logo-nav">
          <img [src]="item.svg" alt="" />
          <a [routerLink]="item.navigations">{{ item.title }}</a>
        </div>
      </div>
    </div>
  </div>
</div>
