.promoForm {
    margin: 3rem;
    padding: 3rem;
    background-color: grey;
    border-radius: 25px;
}

div {
    margin: 0.5rem 0 0.5rem 0;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
}
