.promo-form {
    margin: 3rem;
    padding: 3rem;
    background-color: #EFEFEF;
    border-radius: 25px;
    width: max-content;
}

div {
    margin: 0.5rem 0 0.5rem 0;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
}
