.promoForm {
    margin: 3rem;
    padding: 3rem;
    background-color: grey;
    border-radius: 25px;
    gap: 1rem;
}

div {
    margin: 1rem 0 1rem 0;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
    // margin: 2rem;
}

// label {
//     margin-right: 1rem;
// }