<div
  class="card flex justify-content-center"
  *ngIf="modalState$ | async as modal"
>
  <p-dialog
    header
    [modal]="true"
    [(visible)]="modal.visible"
    [style]="{ width: '50rem' }"
    [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
    (onHide)="hideDialog()"
  >
    <ng-container *ngIf="modal.cardData as cardData">
      <ng-template pTemplate="header">
        <div
          class="promo-amount"
          [ngStyle]="{ 'background-color': '#' + cardData.color }"
        >
          <div class="exit-btn-and-promo-amount">
            <button class="exit-modal-btn" (click)="modal.visible = false">
              <img
                width="20"
                class="exit-btn"
                src="assets/png/arrow-black.png"
                alt="exit"
              />
            </button>

            <div class="percent-off">
              <p class="flat">PROMO</p>
              <div class="percent-container">
                <p class="percent-discount">{{ cardData.percentOff }}</p>

                <div class="percent-off-container">
                  <p class="percent">%</p>
                  <p class="off">off</p>
                </div>
              </div>
            </div>
          </div>

          <div class="redeemable-amount">
            <p id="points-amount">{{ cardData.price | thousandK }}</p>
            points
          </div>
        </div>
      </ng-template>

      <app-promo-gallery title="DESCRIPTION"></app-promo-gallery>
      <div class="modal-logo-container">
        <div class="details-container">
          <p>
            ECONOMISER {{ cardData.percentOff }}% CHEZ
            <span class="brand-title">{{
              cardData.brand.title | uppercase
            }}</span>
            SUR
          </p>
          <p class="product">{{ cardData.description | uppercase }}</p>
        </div>
        <img
          *ngIf="cardData.brand"
          id="logo"
          class="brand-img"
          [src]="'data:image/png;base64,' + cardData.brand.logo"
          alt="{{ cardData.brand.title }}"
        />
      </div>
      <div class="btn-promo">
        <button class="buy-button" *ngIf="showCode">VOIR LE CODE</button>
        <button
          *ngIf="!showCode"
          (click)="buyPromo(cardData.id)"
          class="buy-button"
        >
          ACHETER LA PROMOTION
        </button>
      </div>
    </ng-container>
  </p-dialog>
</div>
