#map {
  height: 75vh;
  width: 100%;
}

::ng-deep .recenter-button {
  border: none;
  height: 30px;
  color: white;
  width: 100px;
  border-radius: 4px;
  background-color: #178b68;
}

::ng-deep .chips-map {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
}

::ng-deep .gm-style-iw-ch {
  display: none;
}
::ng-deep .gm-style .gm-style-iw-c {
  flex-direction: row;
  align-items: center;
  padding: 0;
}

::ng-deep .gm-style-iw .gm-style-iw-c {
  display: flex !important;
  flex-direction: row !important;
}

::ng-deep .gm-style-mtc-bbw {
  margin-top: 40px !important;
}
