.footer {
  height: 7%;
  width: 100%;
  bottom: -1px;
  left: 0;
  position: fixed;

  .color-bar {
    @extend .footer;
    background-color: var(--cta-color);
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    width: 100%;
    display: flex;
    justify-content: center;
  }
}

.centre-button {
  background-color: white;
  translate: 0px -35px;
  margin-bottom: 4rem;
  border-radius: 50%;
  width: 100px;
}

.scan-button {
  @extend .centre-button;
  padding: 6px;
  height: 5rem;
  width: auto;
  object-fit: contain;
}

.capture-button {
  @extend .centre-button;
  padding: 5px;
}
