<div class="promo-card border-radius">
  <div
    class="promo-amount"
    [ngStyle]="{ 'background-color': '#' + promo.color }"
  >
    <div class="percent-part">
      <p id="flat">PROMO</p>
      <div class="percent-container">
        <p class="percent-discount-part">{{ promo.percentOff }}</p>

        <div class="percent-off-container">
          <p id="percent">%</p>
          <p id="off">off</p>
        </div>
      </div>
    </div>
    <div class="redeemable-part">
      <p>Promos restantes :</p>
      <p>{{ promo.amount }}</p>
    </div>
    <div class="points-part">
      <span>{{ promo.price }}</span>
      <p>points</p>
    </div>
  </div>
  <div class="detail-row">
    <img
      *ngIf="promo.brand.logo"
      id="logo"
      [src]="'data:image/png;base64,' + promo.brand.logo"
      alt="{{ promo.brand.title }}"
    />
    <div id="details">
      <p>{{ promo.title }}</p>
      <p>{{ promo.item }}</p>
      <p>{{ promo.description }}</p>
    </div>
  </div>
  <div class="detail-row">
    <p id="small-date">{{ promo.startDate }} - {{ promo.endDate }}</p>
    <div class="btn-part">
      <button
        type="button"
        class="delete-promo-admin"
        (click)="deletePromo(promo)"
      >
        Supprimer
      </button>
      <button
        type="button"
        class="suspend-promo-admin"
        (click)="suspendPromo(promo)"
      >
        Susprendre
      </button>
    </div>
  </div>
</div>
