@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");


.promo-card {
  margin: 1rem;
  border-radius: 10px;
  box-shadow: 0px 0px 4px 2px rgb(0, 0, 0, 0.45);
  background-color: white;
}

.promo-amount {
  display: flex;
  justify-content: space-between;
  padding-left: 0.4rem;
  padding-bottom: 1rem;
  background-color: #f1ece3;
  border-radius: 8px;
}


.points-amount {
  background-color: white;
  padding: 0 0.4rem;
  padding-top: 1rem;
  margin-right: 0.4rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  line-height: 0.8;
}

.redeemable-amount {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.percent-off {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  line-height: 0.7;
}

.percent-container {
  display: flex;

  div {
    display: flex;
    line-height: 0.6rem;
    align-items: center;
    flex-direction: column;
    max-width: 40px;
    margin-right: 10px;
  }
}

.percent-off-container {
  margin-top: 0;
}

.percent-discount {
  font-size: 2rem;
  margin: 0;
  padding-top: 5px;
  padding-left: 2px;
}

.detail-row {
  display: flex;
  margin: 1rem;
  justify-content: space-evenly;
  align-items: center;
}

#small-date {
  font-size: 0.7rem;
}

#off {
  font-size: small;
  justify-self: flex-start;
}

#flat {
  margin-top: 1rem;
  font-size: 1.8rem;
}

#details {
  padding-top: 1.5rem;
  margin-left: 2rem;
}

#logo {
  width: 70px;
  height: 70px;

}


p {
  width: fit-content;
  margin: 0.2rem;
}


button {
  border-radius: 10px;
  margin: 0.3rem;
  padding: 5px;
}

img {
  width: 20px;
}

