<div class="promo-card">
    <div class="promo-amount">
        <div class="percent-off">
          <p id="flat">FLAT</p>
          <div class="percent-container">
            <p class="percent-discount">{{ promo.percentOff }}</p>

            <div class="percent-off-container">
              <p id="percent">%</p>
              <p id="off">off</p>
            </div>
          </div>
        </div>
        <div class="redeemable-amount">
          <p id="points-amount">{{ promo.redeemableAmount }}</p>
          points
        </div>
      </div>
      <div class="brand-and-details">
        <img
          id="logo"
          src="../../../../../assets/svg/png-clipart-carrefour-city-logo-supermarket-retail-carrefour-text-retail-thumbnail-removebg-preview.png"
          alt="carrouf logo"
        />
        <p id="details">See details</p>
        <button type="button">
          <img src="../../../../../assets/svg/arrow.png" alt="Arrow" />
        </button>
      </div>

</div>