.bandeau {
  background-color: #178b68;
  width: 200px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom-right-radius: 20px;
  margin-top: 20px;
  margin-bottom: 3px;

  h3 {
    color: white;
    text-align: center;
  }
}
