.bandeau {
  background-color: var(--accentuation-color);
  width: 300px;
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom-right-radius: 20px;
  margin-top: 20px;
  margin-bottom: 3px;

  h3 {
    color: white;
    text-align: center;
    letter-spacing: 1.5px;
    word-spacing: 5px;
  }
}
