<div class="landing">
  <div *ngIf="isOpen" [class.active]="isOpen" class="blur"></div>
  <app-header-nav (boolChange)="onReceivedFromHeader($event)"></app-header-nav>

  <app-promo-gallery title="NOUVELLES PROMOS"></app-promo-gallery>

  <div class="card-container" *ngIf="cardList$ | async as cardList">
    <div *ngFor="let promo of cardList">
      <app-dumb-card [promo]="promo" [blurCards]="isOpen"></app-dumb-card>
    </div>
  </div>

  <app-promo-gallery title="MEILLEURES PROMOS"></app-promo-gallery>

  <div class="card-container" *ngIf="cardList$ | async as cardList">
    <div *ngFor="let promo of cardList">
      <app-dumb-card [promo]="promo" [blurCards]="isOpen"></app-dumb-card>
    </div>
  </div>

  <app-promo-gallery title="VOS PROMOS FAVORITES"></app-promo-gallery>

  <div class="card-container" *ngIf="cardList$ | async as cardList">
    <div *ngFor="let promo of cardList">
      <app-dumb-card [promo]="promo" [blurCards]="isOpen"></app-dumb-card>
    </div>
  </div>

  <app-promo-gallery title="GROS PRIX"></app-promo-gallery>

  <app-modal />

  <app-footer [scanButton]="true"></app-footer>
</div>
