main {
  position: relative;
}

.all {
  height: 100vh;
}

.route-btn {
  display: flex;
  width: 100%;
  position: relative;
  overflow: hidden;

  .waste,
  .promos {
    width: 50%;
    border: 0.5px solid black;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
  }

  .promos {
    border-right: none;
  }

  .slide-background {
    position: absolute;
    width: 50%;
    height: 100%;
    background-color: green;
    z-index: 0;
    transition: transform 600ms ease;
  }

  h4 {
    font-weight: bold;
    position: relative;
    z-index: 2;
  }

  .active-btn {
    background-color: green;
    color: white;
  }

  .inactive-btn {
    background-color: transparent;
    color: black;
  }
}
