.card-container {
  display: flex;
}

.promo-card {
  display: flex;
  flex-direction: column;
  border: 2px black solid;
  min-width: max-content;
  margin: 1rem;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 4px 4px 4px grey;
}

p {
  width: fit-content;
  margin: 0.2rem;
}