@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

.card-container {
  display: flex;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none; 
}

.card-container::-webkit-scrollbar {
  display: none;
}

.promo-card {
  display: flex;
  flex-direction: column;
  border: 2px black solid;
  min-width: max-content;
  margin: 1rem;
  border-radius: 10px;
  box-shadow: 4px 4px 4px grey;
}

.promo-amount {
  display: flex;
  justify-content: space-between;
  padding-left: 0.4rem;
  background-color: #F1ECE3;
  border-radius: 8px;
}

.redeemable-amount {
  background-color: white;
  margin-bottom: 4px;
  padding: 0.2rem 0.4rem;
  margin-right: 0.4rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.percent-off {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.percent-container {
  display: flex;
  
  div {
    display: flex;
    margin-top: 0.4rem;
    line-height: 0.6rem;
    align-items: center;
    flex-direction: column;
    max-width: 40px;
    margin-right: 10px;
    }
  
}

#off {
  font-size: small;
  justify-self: flex-start;
}

.percent-discount {
  font-size: 2rem;
}

.brand-and-details {
  display: flex;
  margin: 1rem;
}

p {
  width: fit-content;
  margin: 0.2rem;
}