/* You can add global styles to this file, and also import other style files */
* :not(.p-toast) {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

*::-webkit-scrollbar {
  display: none;
}

:root {
  --cta-color: #2f323d;
  --accentuation-color: #178b68;
  --qr-code-color-bg: #262626;
}

.btn-cta {
  display: flex;
  margin: 20px auto;
  font-size: 1.2em;
  font-weight: bold;
  padding: 1em 2em;
  border: none;
  width: 80%;
  justify-content: center;
  align-items: center;
  font-family: "Lato", sans-serif;
  color: white;
  background-color: var(--cta-color);
  border-radius: 3px;
}

.flex {
  display: flex;
}