<div [@openClosePageAnimation]>
  <div [@openClosePageAnimation]>
    <app-header headerPageTitle="MES PROMOS" [searchBar]="false"></app-header>
    <div [@openPageAnimation]>
      <div class="pageContent">
        <app-promo-gallery title="MES PROMOS"></app-promo-gallery>

        <div class="card-container" *ngIf="user">
          <div *ngFor="let userPromo of user.userPromos">
            <app-dumb-card
              [smallBrand]="true"
              [smallCard]="true"
              [promo]="userPromo.promos"
            ></app-dumb-card>
          </div>
          <app-modal />
        </div>

        <!-- @TODO link to explanation page once created -->
        <div class="yo">
          <a [routerLink]="['/']" class="tip-link"
            ><p>How to use your promo</p></a
          >
        </div>
      </div>
    </div>
    <app-footer [scanButton]="true" />
  </div>
</div>
