<div class="card-container">
  <div [ngClass]="smallCard ? 'small-card' : 'promo-card border-radius'">
    <div
      class="promo-amount"
      [ngStyle]="{ 'background-color': '#' + promo.color }"
    >
      <div class="percent-off">
        <p id="flat">PROMO</p>
        <div class="percent-container">
          <p class="percent-discount">{{ promo.percentOff }}</p>

          <div class="percent-off-container">
            <p class="percent">%</p>
            <p class="off">off</p>
          </div>
        </div>
      </div>
      <div class="redeemable-amount">
        <p>
          <span id="points-amount">    
            {{ promo.price | thousandK }}
          </span>
        points
        </p>
      </div>
    </div>
    <div class="see-details">
      <div
        [ngClass]="smallBrand ? 'small-brand-and-details' : 'brand-and-details'"
      >
        <img
          *ngIf="promo.brand.logo"
          id="logo"
          [src]="'data:image/png;base64,' + promo.brand.logo"
          alt="{{ promo.brand.title }}"
        />

        <div class="open-modal-container" (click)="openModal(promo)">
          <p>{{ promo.brand.title }}</p>
          <div class="see-details-container">
            <p id="details">Voir</p>
            <button type="button">
              <img src="assets/png/arrow.png" alt="arrow" />
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
