@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

.card-container {
  display: flex;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  overflow: auto;
}

.blur {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(41, 40, 40, 0.059);
  border-radius: 10px;
  height: 100vh;
}

.small-card {
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
  width: 170px;
  border-radius: 10px;
  box-shadow: 0px 0px 4px 2px rgb(0, 0, 0, 0.18);
  .promo-amount {
    display: flex;
    justify-content: space-between;
    padding-left: 0.4rem;
    padding-bottom: 1rem;
    border-radius: 8px;
  }
}
.promo-card {
  display: flex;
  flex-direction: column;
  min-width: max-content;
  margin: 0.5rem;
  width: 250px;
  box-shadow: 0px 0px 4px 2px rgb(0, 0, 0, 0.18);
  .promo-amount {
    display: flex;
    justify-content: space-between;
    padding-left: 0.4rem;
    padding-bottom: 1rem;
  }
}

.percent-off {
  display: flex;
  padding-top: 10px;
  flex-direction: column;
  justify-content: space-around;
  line-height: 0.6;
}

.percent-container {
  display: flex;
  // line-height: 1rem;

  div {
    display: flex;
    line-height: 0.4rem;
    align-items: center;
    flex-direction: column;
    max-width: 40px;
    margin-right: 10px;
  }
}

.percent {
  margin-top: 0.4rem;
}

.off {
  font-size: small;
  justify-self: flex-start;
}

.flat {
  margin-top: 1rem;
  font-size: 1.8rem;
}

#flat {
  letter-spacing: 1px;
}

.percent-off-container {
  margin-top: 0;
}

.percent-discount {
  font-size: 2rem;
  margin: 0;
  padding-top: 6px;
  padding-left: 2px;
}

.brand-and-details {
  display: flex;
  margin: 0rem 1rem;
  justify-content: space-around;

  #logo {
    width: 70px;
    object-fit: contain;
  }

  #details {
    padding-top: 0.5rem;
    margin-left: 2rem;
  }
}
.small-brand-and-details {
  display: flex;
  justify-content: center;
  margin: 0.1rem auto;
  align-items: center;

  #logo {
    width: 50px;
    height: 50px;
  }

  #details {
    padding-top: 5px;
    margin-left: 2rem;
    font-size: 12px;
  }
}

p {
  width: fit-content;
  margin: 0.2rem;
}

button {
  background: none;
  border: none;
  margin-top: 0.3rem;
  margin-left: 0.3rem;
}

img {
  width: 20px;
}

.open-modal-container {
  display: flex;
  padding-top: 20px;
  align-items: flex-end;
  flex-direction: column;
  .brand {
    font-weight: 700;
  }
  .see-details-container {
    display: flex;
    align-items: end;
    padding: 1em 0 1em;
  }
  #details {
    font-weight: bold;
    // font-style: italic;
    display: inline-block;
    border-bottom: 1px solid;
    padding-bottom: 3px;
    text-decoration: none;
    line-height: 12px;
    color: black;
  }
}
