.title {
    background-color: #178B68;
    width: 7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem 1rem 0.5rem 0rem;
    padding: 0.5rem;
    color: white;
    border-bottom-right-radius: 18px;
    font-weight: bold;
}