.promo-form {
  margin-top: 3rem;
  margin-left: 3rem;
  padding: 3rem;
  background-color: #efefef;
  border-radius: 15px;
  width: max-content;
}

div {
  margin: 0.5rem 0 0.5rem 0;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

input {
  border-radius: 8px;
  padding: 0.2rem;
  margin-top: 0.5rem;
  border: 1px solid grey;
  width: 100%;
}

textarea {
  display: flex;
  margin-top: 10px;
  border-radius: 8px;
  width: 100%;
  min-height: 70px;
  max-height: 100px;
  padding: 0.2rem;
  border: 1px solid grey;
}
.btn-container {
  display: flex;
  justify-content: center;
}

button {
  text-align: center;
  width: 80%;
  height: 40px;
  letter-spacing: 2px;
  font-weight: bold;
  font-size: 15px;
  font-family: "Lato", sans-serif;
  color: white;
  background-color: #178b68;
  border-radius: 3px;
  border: none;
  position: relative;
  margin-top: 1rem;
}

button:hover {
  background-color: #efefef;
  color: #178b68;
  border: 2px solid #178b68;
  transition: all ease-out 200ms;
  cursor: pointer;
}

select {
  border-radius: 8px;
  padding: 0.2rem;
  width: 100%;
  margin-top: 0.5rem;
}

h1 {
  display: flex;
  justify-content: center;
  padding: 1rem;
  background-color: #178b68;
  color: #efefef;
  border-radius: 10px;
  margin-bottom: 1rem;
}

label {
  padding-right: 0.2rem;
}
