.menu {
    display: flex;
    flex-direction: column;

    width: 20vw;
    height: 100%;

    gap: 2rem;
    padding: 2rem;

    .menu-item {
        display: flex;
        gap: 1rem;
    }

    .menu-img {
        width:10%;
    }
    
    .menu-text {
        border-bottom: 1px grey solid;
        padding: 1rem;
        width: 15rem;
    }
}