.menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;

    width: 20vw;
    height: 94vh;

    gap: 2rem;
    padding: 2rem;

    border-right: 4px gray groove;

    .menu-item {
        display: flex;
        gap: 1rem;
    }

    .menu-img {
        width:10%;
    }
    
    .menu-text {
        border-bottom: 1px grey solid;
        padding: 1rem;
        width: 15rem;
    }
}